yolov8/models
yolov8/datasets
yolov8/data
yolov8/runs
yolov8/keys.py
/scraped_images
/chromedriver-linux64
__pycache__
autodistill_all/dataset
autodistill_all/images
autodistill_all/speedmph*
autodistill_all/yeild*
autodistill_all/yield*
models
runs
Traffic-Signs*
speedmph*
yeild*
datasets
object_detection
openvino
